<!-- <h1>Dojos#index</h1> -->
<h2>List of all Dojos</h2>

<table>
  <thead>
    <th>Branch</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Actions</th>
  </thead>

  <tbody >
    <% @dojos.each do |dojo| %>
    <tr>
      <td><%=dojo.branch%></td>
      <td><%=dojo.street%></td>
      <td><%=dojo.city%></td>
      <td><%=dojo.state%></td>
      <td><a href="/dojos/<%=dojo.id%>">Show</a> | <a href="/dojos/<%=dojo.id%>/edit">Edit</a> | <a href="/dojos/<%=dojo.id%>" data-method='delete'>Destroy</a></td>
    </tr>
    <%end%>
  </tbody>
</table>

<br>
<a href="/dojos/new">New Dojo</a>
